@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.section {
  padding: 87px 0 128px 0;
}

.section-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #415167;
  text-align: center;
  margin: 0 0 2px 0;
}

.section-subtitle {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #415167;
  text-align: center;
}

.section .card__price {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #C7A17A;
}

.section .card__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #232C38;
}

.section .card__description {
  font-size: 16px;
  color: #151D28;
}

.section .card__button {
  border-radius: 19px;
  border: none;
  background-color: #C7A17A;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #F9FBFF;
  line-height: 22px;
  text-align: center;
}

.section .card__button:hover {
  cursor: pointer;
}

.section .card__button:focus {
  outline: none;
}

.section .card__link {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #415167;
  text-decoration: none;
}

/* Стили для главного экрана */
.hero {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #F9FBFF), color-stop(50%, #415167));
  background: linear-gradient(to right, #F9FBFF 50%, #415167 50%);
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: #F9FBFF;
}

.hero-text {
  padding-top: 76px;
}

.hero-text__logo {
  margin: 0 140px 656px 187px;
}

.hero-text__title {
  position: absolute;
  left: 195px;
  top: 504px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
  text-transform: uppercase;
}

.hero-text__title span {
  display: block;
  color: #F9FBFF;
  background-color: #C7A17A;
  padding: 0 15px;
  margin-left: -15px;
}

.hero-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(../../img/hero/design-your-coffee-bag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-video img:hover {
  cursor: pointer;
}

.hero-menu {
  padding: 77px 0 0 57px;
  background-color: #415167;
}

.hero-menu__cart {
  position: relative;
  margin-bottom: 120px;
}

.hero-menu__item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 13px;
  top: -13px;
  font-size: 14px;
  color: #F9FBFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C7A17A;
}

.hero-menu__nav ul {
  padding-left: 0;
}

.hero-menu__link {
  min-width: 150px;
  list-style-type: none;
  margin-bottom: 30px;
}

.hero-menu__link:last-child {
  margin-bottom: 0;
}

.hero-menu__link a {
  font-size: 16px;
  color: #EDF0F5;
  text-decoration: none;
}

.hero-menu__link a:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 17px;
}

/* Стили для advantages */
.advantages {
  background-color: #F9FBFF;
}

.advantages__subtitle {
  margin-bottom: 89px;
}

.advantages-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-blocks__block {
  text-align: center;
}

.advantages-blocks__img {
  margin-bottom: 44px;
}

.advantages-blocks__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #232C38;
  margin-bottom: 12px;
}

.advantages-blocks__text {
  font-size: 16px;
  color: #151D28;
  line-height: 22px;
  max-width: 226px;
}

/* Стили для product */
.product {
  position: relative;
  background-color: #F9FBFF;
  z-index: 2;
}

.product:after {
  content: '';
  width: 34%;
  height: 100%;
  background-color: #415167;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.product__subtitle {
  margin-bottom: 72px;
}

.product-block {
  max-width: 1365px;
  margin-left: auto;
}

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 559px;
      flex-basis: 559px;
}

.product__image {
  background-color: #EAEFF5;
}

.product__image img {
  display: block;
}

.product__text {
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product__price {
  margin: 42px 0 8px 44px;
}

.product__titlecard {
  margin: 0 0 24px 44px;
}

.product__description {
  margin: 0 0 18px 44px;
}

.product__button {
  padding: 5px 20px;
  margin: 0 18px 0 42px;
}

.product-slider {
  height: 544px;
  z-index: 1;
}

.product-dimming {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 95px;
  height: 100%;
  background-color: #EDF0F5;
  opacity: .5;
}

.swiper-slide {
  height: calc( (100% - 30px ) / 2);
}

.swiper-product-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #C7A17A;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  left: auto;
  right: 66px;
  position: absolute;
  top: 50%;
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  z-index: 10;
  cursor: pointer;
}

/* Стили для gift-set */
.gift-set {
  position: relative;
  background-color: #EDF0F5;
  z-index: 2;
}

.gift-set:after {
  content: '';
  width: 34%;
  height: 100%;
  background-color: #F9FBFF;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.gift-set__subtitle {
  margin-bottom: 66px;
}

.gift-set-tabcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1138px;
  margin: 0 0 0 130px;
}

.gift-set-tabcontent {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
          box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
  padding: 53px 0 0 0;
  z-index: 2;
}

.gift-set-tabcontent:after {
  content: '';
  width: 38%;
  height: 100%;
  background-color: #EDF0F5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.gift-set__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gift-set__text {
  padding: 17px 68px 0 92px;
}

.gift-set__price {
  margin-bottom: 12px;
}

.gift-set__titletab {
  margin-bottom: 12px;
}

.gift-set__description {
  max-width: 430px;
  line-height: 22px;
  margin-bottom: 24px;
}

.gift-set-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 46px;
}

.gift-set-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}

.gift-set-block__img {
  margin-right: 20px;
}

.gift-set-block__subtitle {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.gift-set__button {
  padding: 7px 34px;
  margin: 0 124px 0 0px;
}

.gift-set-tabheader {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gift-set-tabheader__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gift-set-tabheader__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #415167;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: #EDF0F5;
}

.gift-set-tabheader__item_active {
  opacity: 1;
  background-color: #ffffff;
}

.gift-set-tabheader__item:hover {
  opacity: 1;
  background-color: #ffffff;
}

/* Стили для personal-offer */
.personal-offer {
  position: relative;
  background-color: #F9FBFF;
  z-index: 2;
}

.personal-offer:after {
  content: '';
  width: 34%;
  height: 100%;
  background-color: #415167;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.personal-offer-block {
  max-width: 1273px;
  margin-left: auto;
}

.personal-offer__subtitle {
  margin-bottom: 64px;
}

.personal-offer__card {
  max-width: 360px;
  background-color: #ffffff;
}

.personal-offer__image {
  margin-bottom: 42px;
}

.personal-offer__image img {
  display: block;
}

.personal-offer__price {
  margin: 0 0 10px 42px;
}

.personal-offer__past-price {
  font-size: 14px;
  color: #415167;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-left: 20px;
}

.personal-offer__titlecard {
  margin: 0 0 10px 42px;
}

.personal-offer__description {
  margin: 0 42px 32px 42px;
}

.personal-offer__button {
  padding: 5px 20px;
  margin: 0 54px 42px 42px;
}

.personal-offer-dimming {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 103px;
  height: 100%;
  background-color: #EDF0F5;
  opacity: .5;
}

/* Стили для footer */
.footer {
  font-size: 16px;
  color: #415167;
  text-align: center;
  background-color: #EDF0F5;
  padding: 20px 0;
}

/* Стили для modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_hide {
  display: none;
}

.modal-dialog {
  position: relative;
  max-width: 660px;
  width: 90%;
  min-width: 200px;
  margin: auto;
}

.modal-dialog__close {
  display: block;
  position: absolute;
  top: -35px;
  right: -10px;
  font-size: 26px;
  background: none;
  border: none;
  color: #EDF0F5;
}

.modal-dialog__close:focus {
  outline: none;
}

.modal-dialog__close:hover {
  cursor: pointer;
}
/*# sourceMappingURL=slyle.css.map */