@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
  }
}

.section {
  padding: 87px 0 128px 0;
}

.section-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #415167;
  text-align: center;
  margin: 0 0 2px 0;
}

.section-subtitle {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #415167;
  text-align: center;
}

.section .card__price {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #C7A17A;
}

.section .card__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #232C38;
}

.section .card__description {
  font-size: 16px;
  color: #151D28;
}

.section .card__button {
  border-radius: 19px;
  border: none;
  background-color: #C7A17A;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #F9FBFF;
  line-height: 22px;
  text-align: center;
}

.section .card__button:hover {
  cursor: pointer;
}

.section .card__button:focus {
  outline: none;
}

.section .card__link {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #415167;
  text-decoration: none;
}

@media (max-width: 992px) {
  .section .card__price {
    font-size: 18px;
  }
  .section .card__title {
    font-size: 22px;
  }
  .section .card__description {
    font-size: 14px;
  }
  .section .card__button {
    font-size: 14px;
    line-height: 20px;
  }
  .section .card__link {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .section .card__price {
    font-size: 20px;
  }
  .section .card__title {
    font-size: 24px;
  }
  .section .card__description {
    font-size: 16px;
  }
  .section .card__button {
    font-size: 16px;
    line-height: 22px;
  }
  .section .card__link {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .section .card__price {
    font-size: 20px;
  }
  .section .card__title {
    font-size: 22px;
  }
  .section .card__description {
    font-size: 14px;
  }
  .section .card__button {
    font-size: 14px;
    line-height: 20px;
  }
  .section .card__link {
    font-size: 14px;
  }
  #video-modal {
    width: 560px;
    height: 315px;
  }
}

/* Стили для главного экрана */
.hero {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #F9FBFF), color-stop(50%, #415167));
  background: linear-gradient(to right, #F9FBFF 50%, #415167 50%);
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: #F9FBFF;
}

.hero-text {
  padding-top: 76px;
}

.hero-text__logo {
  margin: 0 140px 656px 187px;
}

.hero-text__title {
  position: absolute;
  left: 195px;
  top: 504px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
  text-transform: uppercase;
}

.hero-text__title span {
  display: block;
  color: #F9FBFF;
  background-color: #C7A17A;
  padding: 0 15px;
  margin-left: -15px;
}

.hero__burger {
  display: none;
}

.hero-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(../../img/hero/design-your-coffee-bag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-video img:hover {
  cursor: pointer;
}

.hero-menu {
  padding: 77px 0 0 57px;
  background-color: #415167;
}

.hero-menu__cart {
  position: relative;
  margin-bottom: 120px;
}

.hero-menu__item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 13px;
  top: -13px;
  font-size: 14px;
  color: #F9FBFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C7A17A;
}

.hero-menu__nav ul {
  padding-left: 0;
}

.hero-menu__link {
  min-width: 150px;
  list-style-type: none;
  margin-bottom: 30px;
}

.hero-menu__link:last-child {
  margin-bottom: 0;
}

.hero-menu__link a {
  font-size: 16px;
  color: #EDF0F5;
  text-decoration: none;
}

.hero-menu__link a:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 1200px) {
  .hero-text__logo {
    margin: 0 120px 656px 100px;
  }
  .hero-text__title {
    left: 108px;
    font-size: 52px;
  }
}

@media (max-width: 992px) {
  .hero-text__logo {
    margin: 0 60px 636px 80px;
  }
  .hero-text__title {
    left: 88px;
    font-size: 40px;
  }
  .hero-menu {
    padding: 77px 0 0 37px;
  }
  .hero-menu__cart {
    margin-bottom: 90px;
  }
}

@media (max-width: 768px) {
  .hero-text__logo {
    margin: 0 40px 436px 10px;
    max-width: 100px;
  }
  .hero-text__title {
    left: 15px;
    top: 360px;
    font-size: 30px;
    line-height: 45px;
  }
  .hero-text__title span {
    padding: 0 5px;
    margin-left: -10px;
  }
  .hero-menu__cart {
    margin-bottom: 50px;
  }
  .hero-menu__item-cart {
    font-size: 12px;
  }
  .hero-menu__link {
    margin-bottom: 20px;
  }
  .hero-menu__link a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .lock {
    overflow: hidden;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
  }
  .hero-text__logo {
    margin: 0 40px 20px 60px;
  }
  .hero-text__title {
    left: 60px;
    top: 260px;
    color: #fff;
  }
  .hero-video {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
  }
  .hero-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero-menu_active {
    top: 0;
  }
  .hero-menu__nav {
    margin-top: 150px;
  }
  .hero-menu__link {
    margin-bottom: 30px;
  }
  .hero-menu__link a {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 25px;
  }
  .hero-menu__cart {
    display: none;
  }
  .hero__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 5px 30px 0 0;
    z-index: 3;
  }
  .hero__burger:before, .hero__burger:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #C7A17A;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero__burger:before {
    top: 0;
  }
  .hero__burger:after {
    bottom: 0;
  }
  .hero__burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #C7A17A;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero__burger_active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .hero__burger_active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .hero__burger_active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* Стили для advantages */
.advantages {
  background-color: #F9FBFF;
}

.advantages__subtitle {
  margin-bottom: 89px;
}

.advantages-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-blocks__block {
  text-align: center;
}

.advantages-blocks__img {
  margin-bottom: 44px;
}

.advantages-blocks__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #232C38;
  margin-bottom: 12px;
}

.advantages-blocks__text {
  font-size: 16px;
  color: #151D28;
  line-height: 22px;
  max-width: 226px;
}

@media (max-width: 992px) {
  .advantages-blocks {
    width: 70%;
    margin: 0 auto;
  }
  .advantages-blocks__img {
    margin-bottom: 30px;
  }
  .advantages-blocks__block {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .advantages-blocks {
    width: 80%;
  }
}

/* Стили для product */
.product {
  position: relative;
  background-color: #F9FBFF;
  z-index: 2;
}

.product:after {
  content: '';
  width: 34%;
  height: 100%;
  background-color: #415167;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.product__subtitle {
  margin-bottom: 72px;
}

.product-block {
  max-width: 1365px;
  margin-left: auto;
}

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 559px;
      flex-basis: 559px;
}

.product__image {
  background-color: #EAEFF5;
}

.product__image img {
  display: block;
}

.product__text {
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product__price {
  margin: 42px 0 8px 44px;
}

.product__titlecard {
  margin: 0 0 24px 44px;
}

.product__description {
  margin: 0 0 18px 44px;
}

.product__button {
  padding: 5px 20px;
  margin: 0 18px 0 42px;
}

.product-slider {
  height: 544px;
  z-index: 1;
}

.product-dimming {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 95px;
  height: 100%;
  background-color: #EDF0F5;
  opacity: .5;
}

.swiper-slide {
  height: calc( (100% - 30px ) / 2);
}

.swiper-product-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #C7A17A;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  left: auto;
  right: 66px;
  position: absolute;
  top: 50%;
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  z-index: 10;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .product-block {
    max-width: 1100px;
  }
  .product-dimming {
    width: 73px;
  }
  .product__image {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .product__price {
    margin: 40px 0 8px 30px;
  }
  .product__titlecard {
    margin: 0 0 15px 30px;
  }
  .product__description {
    margin: 0 0 25px 30px;
  }
  .product__button {
    margin: 0 18px 0 28px;
  }
  .product-slider {
    height: 450px;
  }
}

@media (max-width: 1094px) {
  .product:after {
    width: 28%;
  }
  .product-block {
    max-width: 1000px;
  }
  .product-dimming {
    display: none;
  }
  .swiper-product-button-next {
    right: 56px;
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 992px) {
  .product-slider {
    height: 380px;
  }
  .product-block {
    max-width: 850px;
  }
  .product__price {
    margin: 20px 0 8px 30px;
  }
}

@media (max-width: 850px) {
  .product-block {
    max-width: 90%;
  }
  .product-slider {
    height: 100%;
  }
  .product__image {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .product__price {
    margin: 42px 0 8px 44px;
  }
  .product__titlecard {
    margin: 0 0 24px 44px;
  }
  .product__description {
    margin: 0 0 24px 44px;
  }
  .product__button {
    padding: 5px 20px;
    margin: 0 18px 0 44px;
  }
}

@media (max-width: 768px) {
  .product:after {
    width: 20%;
  }
}

@media (max-width: 610px) {
  .product-block {
    max-width: 95%;
  }
  .product__price {
    margin: 22px 0 8px 44px;
  }
  .product__titlecard {
    margin: 0 0 24px 44px;
  }
  .product__description {
    margin: 0 0 24px 44px;
  }
  .product__button {
    padding: 5px 20px;
    margin: 0 18px 0 44px;
  }
  .swiper-product-button-next {
    right: 36px;
  }
}

@media (max-width: 610px) {
  .product .swiper-product-button-next {
    right: 0px;
  }
}

@media (max-width: 576px) {
  .product:after {
    display: none;
  }
  .product__price {
    font-size: 18px;
    margin: 22px 0 8px 20px;
  }
  .product__titlecard {
    margin: 0 0 15px 20px;
  }
  .product__description {
    margin: 0 0 24px 20px;
  }
  .product__button {
    padding: 5px 10px;
    margin: 0 10px 30px 20px;
  }
  .product-cards__card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EDF0F5;
  }
}

/* Стили для gift-set */
.gift-set {
  position: relative;
  background-color: #EDF0F5;
  z-index: 2;
}

.gift-set:after {
  content: '';
  width: 34%;
  height: 100%;
  background-color: #F9FBFF;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.gift-set__subtitle {
  margin-bottom: 66px;
}

.gift-set-tabcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1138px;
  margin: 0 0 0 130px;
}

.gift-set-tabcontent {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
          box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
  padding: 53px 0 0 0;
  z-index: 2;
}

.gift-set-tabcontent:after {
  content: '';
  width: 38%;
  height: 100%;
  background-color: #EDF0F5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.gift-set__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gift-set__text {
  padding: 17px 68px 0 92px;
}

.gift-set__price {
  margin-bottom: 12px;
}

.gift-set__titletab {
  margin-bottom: 12px;
}

.gift-set__description {
  max-width: 430px;
  line-height: 22px;
  margin-bottom: 24px;
}

.gift-set-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 46px;
}

.gift-set-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}

.gift-set-block__img {
  margin-right: 20px;
}

.gift-set-block__subtitle {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.gift-set__button {
  padding: 7px 34px;
  margin: 0 124px 0 0px;
}

.gift-set-tabheader {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gift-set-tabheader__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gift-set-tabheader__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #415167;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: #EDF0F5;
  padding: 0 39px 0 36px;
}

.gift-set-tabheader__item_active {
  opacity: 1;
  background-color: #ffffff;
}

.gift-set-tabheader__item:hover {
  opacity: 1;
  background-color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1260px) {
  .gift-set-tabcontainer {
    margin: auto;
  }
  .gift-set-tabcontent:after {
    width: 28%;
  }
}

@media (max-width: 1200px) {
  .gift-set__card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gift-set__text {
    padding: 17px 68px 0 32px;
  }
  .gift-set__img {
    margin-left: 50px;
  }
  .gift-set__button {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .gift-set-tabcontent {
    padding: 33px 0 0 0;
  }
  .gift-set__text {
    padding: 17px 28px 0 22px;
  }
  .gift-set__button {
    margin: 0 54px 30px 0px;
  }
}

@media (max-width: 768px) {
  .gift-set-tabcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gift-set-tabcontent:after {
    display: none;
  }
  .gift-set__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .gift-set-tabheader__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gift-set-tabheader__item {
    padding: 20px 39px 20px 36px;
  }
  .gift-set__img {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .gift-set-tabheader__item {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .gift-set__button {
    padding: 5px 20px;
    margin: 0 64px 30px 0px;
  }
  .gift-set-block {
    font-size: 14px;
  }
}

/* Стили для personal-offer */
.personal-offer {
  position: relative;
  background-color: #F9FBFF;
  z-index: 2;
}

.personal-offer:after {
  content: '';
  width: 34%;
  height: 100%;
  background-color: #415167;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.personal-offer-block {
  max-width: 1273px;
  margin-left: auto;
}

.personal-offer__subtitle {
  margin-bottom: 64px;
}

.personal-offer__card {
  max-width: 360px;
  background-color: #ffffff;
}

.personal-offer__image {
  margin-bottom: 42px;
}

.personal-offer__image img {
  display: block;
}

.personal-offer__price {
  margin: 0 0 10px 42px;
}

.personal-offer__past-price {
  font-size: 14px;
  color: #415167;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-left: 20px;
}

.personal-offer__titlecard {
  margin: 0 0 10px 42px;
}

.personal-offer__description {
  margin: 0 42px 32px 42px;
}

.personal-offer__button {
  padding: 5px 20px;
  margin: 0 54px 42px 42px;
}

.personal-offer-dimming {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 103px;
  height: 100%;
  background-color: #EDF0F5;
  opacity: .5;
}

@media (max-width: 1400px) {
  .personal-offer-dimming {
    display: none;
  }
  .swiper-product-button-next {
    top: 53%;
    right: 20px;
  }
}

@media (max-width: 992px) {
  .personal-offer:after {
    display: none;
  }
  .personal-offer-block {
    max-width: 95%;
  }
}

@media (max-width: 645px) {
  .personal-offer__price {
    margin: 42px 0 8px 20px;
  }
  .personal-offer__description {
    margin: 0 20px 32px 20px;
  }
  .personal-offer__titlecard {
    margin: 0 0 24px 20px;
  }
  .personal-offer__button {
    margin: 0 18px 0 20px;
  }
}

/* Стили для footer */
.footer {
  font-size: 16px;
  color: #415167;
  text-align: center;
  background-color: #EDF0F5;
  padding: 20px 0;
}

/* Стили для modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_hide {
  display: none;
}

.modal-dialog {
  position: relative;
  max-width: 660px;
  width: 90%;
  min-width: 200px;
  margin: auto;
}

.modal-dialog__close {
  display: block;
  position: absolute;
  top: -35px;
  right: -10px;
  font-size: 26px;
  background: none;
  border: none;
  color: #EDF0F5;
}

.modal-dialog__close:focus {
  outline: none;
}

.modal-dialog__close:hover {
  cursor: pointer;
}
/*# sourceMappingURL=slyle.css.map */