*
  box-sizing: border-box
body
  +nunitoLight
img
  max-width: 100%
  height: auto
.container
  width: 1400px
  margin: auto
.section
  padding: 87px 0 128px 0
  &-title
    +nunitoBold
    font-size: 20px
    color: $primary-color
    text-align: center
    margin: 0 0 2px 0
  &-subtitle
    display: block
    +montserrat
    font-size: 30px
    color: $primary-color
    text-align: center