*
  box-sizing: border-box
body
  +nunitoLight
img
  max-width: 100%
  height: auto
.container
  max-width: 1400px
  margin: auto
@media ( max-width: 1400px )
  .container
    max-width: 1320px
@media ( max-width: 1200px )
  .container
    max-width: 1140px
@media ( max-width: 992px )
  .container
    max-width: 960px
@media ( max-width: 768px )
  .container
    max-width: 720px 
@media ( max-width: 576px )
  .container
    max-width: none
.section
  padding: 87px 0 128px 0
  &-title
    +nunitoBold
    font-size: 20px
    color: $primary-color
    text-align: center
    margin: 0 0 2px 0
  &-subtitle
    display: block
    +montserrat
    font-size: 30px
    color: $primary-color
    text-align: center
  .card
    &__price
      +nunitoBold
      font-size: 20px
      color: $accent-color
    &__title
      +nunitoBold
      font-size: 24px
      color: $text-subtitle
    &__description
      font-size: 16px
      color: $text
    &__button
      border-radius: 19px
      border: none
      background-color: $accent-color      
      +nunitoBold
      font-size: 16px
      color: $text-btn
      line-height: 22px
      text-align: center      
      &:hover
        cursor: pointer
      &:focus
        outline: none
    &__link
      +nunitoBold
      font-size: 16px
      color: $primary-color
      text-decoration: none
@media ( max-width: 992px )
  .section
    .card
      &__price
        font-size: 18px
      &__title
        font-size: 22px
      &__description
        font-size: 14px  
      &__button
        font-size: 14px
        line-height: 20px
      &__link
        font-size: 14px
@media ( max-width: 850px )
  .section
    .card
      &__price
        font-size: 20px
      &__title
        font-size: 24px
      &__description
        font-size: 16px  
      &__button
        font-size: 16px
        line-height: 22px
      &__link
        font-size: 16px
@media ( max-width: 375px )
  .section
    .card
      &__price
        font-size: 20px
      &__title
        font-size: 22px
      &__description
        font-size: 14px  
      &__button
        font-size: 14px
        line-height: 20px
      &__link
        font-size: 14px
  #video-modal
    width: 560px
    height: 315px