.advantages
  background-color: #F9FBFF
  &__subtitle
    margin-bottom: 89px
  &-blocks
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    &__block
      text-align: center
    &__img
      margin-bottom: 44px
    &__title
      +nunitoBold
      font-size: 24px
      color: $text-subtitle
      margin-bottom: 12px
    &__text
      font-size: 16px
      color: $text
      line-height: 22px
      max-width: 226px
@media ( max-width: 992px )
  .advantages
    &-blocks
      width: 70%
      margin: 0 auto
      &__img
        margin-bottom: 30px
      &__block
        margin-bottom: 40px
@media ( max-width: 768px )
  .advantages
    &-blocks
      width: 80%